.site-hero{
    width: 100%;
    min-height: calc(91vh - 3px);
    height: auto;
    background-color: var(--site-main);
}
.site-hero__inner{
    display: flex;
    justify-content: center;
    text-align: center;
}
.card-hero{
    padding: 40px;
    /* line-height: 2.5rem; */
}
.card-hero__title{
    font-size: 36px;
    letter-spacing: 2px;
    word-spacing: 20px;
    /* font-weight: 900; */
}
.card-hero__time{
    font-size: 22px;
}
.card-hero__chose-time{
    display: flex;
    justify-content: center;
    /* align-content: space-between; */
}
.chose-btn{
  margin:0 10px;
  background-color: var(--site-header);
  padding: 0.5rem 2rem;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
}
.card-hero__present,.card-hero__namaz{
    font-size: 26px;    
}
